body{font-family:"Source Sans Pro",sans-serif;color:#1C455D;font-size:1.4em;position:relative}
h3{color:#F15E50;}

.header { padding:1em 0; }


/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
  display: block;
  float:left;
  margin: 1% 1% 1% 1%;
  text-align:center;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  GRID OF TWO   ============================================================================= */


.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 48%;

}
.span_1_of_2 fb-page, fb-page iframe[style], fb-page span {
  width: 100% !important;
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
.table-teams{display:table;width:100%;border-collapse:collapse;font-size:.8em}.table-teams tr{padding:1em;border-top-style:solid;border-top-width:2px;border-color:#eee}.table-teams td{padding-top:.5em;padding-bottom:.5em}
@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
  .span_1_of_2 {
    width: 100%; 
    margin: auto; 
  }
  .span_1_of_2 div{
    margin: auto;
  }
}
